<h1>crear pelicula</h1>

<form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
	


<p> TITULO:
	<input type="text" #titulo="ngForm" ngControl="titulo" [(ngModel)]="nuevaPelicula.titulo" required minlength="3"/>	
	<span *ngIf="!titulo.valid"> No valido</span>
</p>

<p> DIRECTOR: 
	<input type="text" #director="ngForm"  ngControl="director" [(ngModel)]="nuevaPelicula.director" required   pattern="[A-Za-z]*" />
	<span *ngIf="!director.valid"> No valido</span>	
</p>

<p> AÑO:
	<input type="text" #anio="ngForm"   ngControl="anio" [(ngModel)]="nuevaPelicula.anio" required
	 pattern="[0-9]{4}"/>	
	<span *ngIf="!anio.valid"> No valido</span>
</p>

<input type="submit" value="Crear Pelicula" [disabled]="!miFormulario.form.valid">

</form>
